<h3>Get the client library</h3>
<p>The client library is available on <a href="https://pypi.python.org/pypi/smartobjects">PyPy</a>.</p>

<p>The client depends on some other libraries:</p>
<ul>
    <li>requests</li>
    <li>six</li>
    <li>tenacity</li>
</ul>

<p>You can install everything like that:</p>
<pre>
    <code>
pip install smartobjects requests six tenacity
    </code>
</pre>

<p>Learn more on: <a href="https://github.com/mnubo/smartobjects-python-client">GitHub</a>.</p>

<h3>Create a client instance</h3>

<p>To create an instance, you can use the following python code:</p>

<pre>
    <code>
key = "<%= clientKey %>"
secret = "<%= clientSecret %>"
url = "<%= url %>"
SmartObjectsClient(key, secret, url)
    </code>
</pre>